.highlights-hero-text {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin: auto;
  max-width: 1140px;
  @media (max-width: 900px) {
    font-size: 30px;
  }
  @media (max-width: 600px) {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
}

.highlights-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: auto;
}