
<!-- <ng-container *ngIf="(highlights$ | async) as listings; else loading"> -->
<ng-container *ngIf="highlights as listings; else loading">
  <article *ngFor="let listing of listings; let i = index" class="hl-listing">
    <div class="hl-listing-img-box">
      <ng-container *ngIf="i < 4; else lazy">
        <img
          [src]="imgEndpoint + listing.thumbnailUrl"
          class="hl-listing-img"
          fetchpriority="high"
          loading="eager"
        >
      </ng-container>
      <ng-template #lazy>
        <img
          [src]="imgEndpoint + listing.thumbnailUrl"
          class="hl-listing-img"
          fetchpriority="low"
          loading="lazy"
        >
      </ng-template>
    </div>
    <ul class="hl-listing-details">
      <li class="hl-listing-price">{{listing.price}}</li>
      <li class=""><span *ngIf="listing.year">{{listing.year}} | </span>{{listing.category}}</li>
      <li >{{listing.description}}</li>
    </ul>
  </article>
</ng-container>

<ng-template #loading>
  <article *ngFor="let _ of [].constructor(12)" class="hl-listing">
    <div class="hl-listing-img-box"></div>
    <ul class="hl-listing-details ghost-hl-listing-details">
      <li></li>
      <li></li>
      <li class="hl-listing-detail-desc"></li>
    </ul>
  </article>
</ng-template>
